name: Build Scarb project

on:
  push:
    branches:
      - main
  pull_request:    

env:
  SCARB_VERSION: 0.5.1

jobs:
  build-contracts:
    name: Build Adventurer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Scarb
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://docs.swmansion.com/scarb/install.sh | bash -s -- -v ${{ env.SCARB_VERSION }}

      - name: Scarb build
        run: |
          cd contracts && scarb build && scarb cairo-test